* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: center;
  /* align-items: center; #FF6A3D */
}

.main-container {
  /* background-color: #ffffff00; */
  background-color: #fffffffb;
  box-shadow: 15px 15px 15px rgb(245, 236, 236);
  width: 45vw;
  height: 70vh;
  margin: 10vh;
}

.title {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 530;
  margin: 10px auto;
}

.display {
  width: 100%;
  height: 90px;
  background: #fff;
  color: black;
  overflow-x: hidden;
}

#expression {
  display: block;
  width: 100%;
  height: 67%;
  font-size: 1.3rem;
  border: 0.7px solid rgba(69, 177, 240, 0.986);
  padding-left: 10px;
  padding-top: 15px;
  overflow-x: hidden;
  letter-spacing: 2px;
}

.expression-cls.highlight {
  transition: border 100ms ease-out;
  border: 2px solid rgba(69, 177, 240, 0.986) !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.result-display {
  display: block;
  width: 100%;
  height: 27%;
  margin-top: 5px;
  border: 0.7px solid rgba(236, 235, 232, 0.801);
}
.result-display:hover {
  border: 1px solid rgba(69, 177, 240, 0.986);
}

.exp {
  display: inline-block;
  width: 60%;
  padding-left: 10px;
  letter-spacing: 1.5px;
}
.output {
  display: inline-block;
  width: 30%;
  padding-left: 5px;
  text-align: right;
}

.degToRad-display {
  width: 100%;
  height: 32px;
  margin: 8px auto;
  display: flex;
  justify-content: space-between;
}
.degToRad-display > span {
  margin: auto auto;
}
#degree,
#radian {
  width: 40%;
  height: 26px;
  border: 1px solid rgba(69, 177, 240, 0.986);
  margin: auto 5px;
  padding-left: 10px;
}

#degree:focus,
#radian:focus {
  outline: 1px solid rgba(69, 177, 240, 0.986);
}

.keyboard {
  margin-top: 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(86px, 1fr));
}
.key {
  display: block;
  width: 86px;
  height: 33px;
  background: #dadce0;
  border-radius: 5px;
  text-align: center;
  /* padding-top: 5px; */
  cursor: pointer;
}

.key.num {
  background: #f1f3f4;
  color: #202124;
  border-radius: 4px;
}

#evaluate-exp {
  background: #4285f4;
  color: #fff;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: bold;
}
